body {
  background-color: #fcfbfc;
  font-family: Arial, Helvetica, sans-serif;
}

.parent {
  border: solid .5px #5b5b5b;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50px 1fr 75px;
  grid-template-columns: 100px 1fr 100px;
  min-height: fit-content;
}

header {
  grid-column: 1 / span 3;
  border: solid 1px #5b5b5b;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: #5b5b5b;
  letter-spacing: 5px;
  font-size: x-large;
  font-weight: 700;
  line-height: 3em;
  background-image: linear-gradient(to bottom, #fcfbfc, #dadcdb);
}

nav {
  border-left: solid 1px #5b5b5b;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

nav * {
  display: block;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: -10px;
}

.abt {
  color: #fe3c3c;
}

.proj {
  color: #fdbb01;
}

.con {
  color: #51c752;
}

.main {
  height: 120vh;
  border: none;
  border-left: none;
  border-right: none;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

article {
  position: absolute;
  height: 100%;
  z-index: 9;
  background-color: transparent;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto auto auto;
}

article .shutter {
  grid-column: 2;
  box-sizing: border-box;
  background-color: #100a0a;
  border-radius: 100%;
  max-height: 280px;
  max-width: 280px;
  min-height: 280px;
  min-width: 280px;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fcfbfc;
  border: solid 10px #fcfbfc;
  border-style: double;
}

.shutter {
  box-shadow: 0 0 5px 5px #5b5b5b;
}

.shutter p {
  margin: 20px;
  padding: 20px;
}

.photo-cards {
  grid-row: 2;
  grid-column: 1/ span 3;
  display: flex;
  justify-content: space-around;
}

.photo-cards img {
  background-color: #d5d1c8;
  max-width: 220px;
  max-height: 280px;
  min-height: 280px;
  min-width: 220px;
  padding: 15px;
  padding-bottom: 45px;
  margin: 40px;
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 5px 5px 5px darkgray;
}

.colors {
  z-index: -5;
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color-1 {
  width: 20px;
  background-color: #f935b6;
  border-left: solid 5px #838a70;
}

.color-2 {
  width: 20px;
  background-color: #fe3c3c;
}

.color-3 {
  width: 20px;
  background-color: #fdbb01;
}

.color-4 {
  width: 20px;
  background-color: #fff503;
}

.color-5 {
  width: 20px;
  background-color: #51c752;
}

.color-6 {
  width: 20px;
  background-color: #06bbf3;
  border-right: solid 5px #838a70;
}

.red-btn {
  z-index: 10;
  grid-row: 1 /1;
  grid-column: 1/1;
  background-color: #ef381e;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid 2px #d5d1c8;
  border-style: double;
  box-shadow: 0 0 5px 5px #d5d1c8;
  position: absolute;
  top: 280px;
  left: 300px;
}

aside {
  border-right: solid 1px #5b5b5b;
}

footer {
  border: solid 1px #5b5b5b;
  border-top: solid 2px #5b5b5b;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #fcfbfc, #dadcdb);
  border-radius: 0 0 10px 10px;
}

footer a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-shadow: #5b5b5b;
  letter-spacing: 5px;
  font-size: x-large;
  font-weight: 700;
  line-height: 3em;
}

@media (min-width: 1500px) {
  .red-btn {
    top: 350px;
    left: 400px;
  }
}


@media (max-width: 950px) {
  .photo-cards {
    flex-wrap: wrap;
  }

  body * {
    display: flex;
    flex-direction: column;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  header {
    border: none;
  }

  .parent {
    border: none;
    display: flex;
    flex-direction: column;
  }

  article .shutter {
    min-height: 300px;
    min-width: 300px;
  }

  nav {
    display: none;
  }

  .photo-cards img {
    background-color: #d5d1c8;
    max-width: 180px;
    max-height: 220px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px darkgray;
  }

  footer {
    border: none;
    display: flex;
    flex-direction: row;
  }

  .colors {
    z-index: -5;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .colors * {
    width: 10px;
  }

  .red-btn {
    display: none;
  }
}

@media (max-width: 800px) {
  body * {
    display: flex;
    flex-direction: column;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  header {
    border: none;
  }

  .parent {
    border: none;
    display: flex;
    flex-direction: column;
  }

  .main {
    min-height: 220vh;
    max-height: 220vh;
  }

  article .shutter {
    min-height: 300px;
    min-width: 300px;
  }

  nav {
    display: none;
  }

  .photo-cards img {
    background-color: #d5d1c8;
    max-width: 180px;
    max-height: 220px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px darkgray;
  }

  .photo-cards {
    flex-wrap: wrap;
  }

  footer {
    border: none;
    display: flex;
    flex-direction: row;
    font-size: smaller;
  }

  .colors {
    z-index: -5;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .colors * {
    width: 10px;
  }

  .red-btn {
    display: none;
  }
}