body {
  background-color: #fcfbfc;
  font-family: Arial, Helvetica, sans-serif;
}

.parent {
  border: solid .5px #5b5b5b;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50px 1fr 75px;
  grid-template-columns: 100px 1fr 100px;
}

header {
  grid-column: 1 / span 3;
  border: solid 1px #5b5b5b;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px #5b5b5b;
  letter-spacing: 5px;
  font-size: x-large;
  font-weight: 700;
  line-height: 3em;
  background-image: linear-gradient(to bottom, #fcfbfc, #dadcdb);
}

nav {
  border-left: solid 1px #5b5b5b;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

nav * {
  display: block;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: -10px;
}



.main {
  height: 100vh;
  border: none;
  border-left: none;
  border-right: none;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

article {
  position: absolute;
  height: 100%;
  z-index: 9;
  background-color: transparent;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

article .shutter {
  grid-column: 2;
  grid-row: 1;
  background-color: #100a0a;
  border-radius: 100%;
  box-sizing: border-box;
  max-height: 280px;
  max-width: 280px;
  margin-top: 60px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: fcfbfc;
  border: solid 10px #fcfbfc;
  border-style: double;
}

.shutter {
  margin-top: 60px;
}

.shutter p {
  margin: 10px;
  padding: 20px;
}

.photo-cards {
  grid-row: 2;
  grid-column: 1/ span 3;
  display: flex;
  justify-content: space-around;
}

.photo-cards img {
  background-color: #d5d1c8;
  max-width: 200px;
  max-height: 280px;
  padding: 15px;
  padding-bottom: 40px;
  margin: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.colors {
  z-index: -5;
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color-1 {
  width: 20px;
  background-color: #f935b6;
  border-left: solid 5px #838a70;
}

.color-2 {
  width: 20px;
  background-color: #fe3c3c;
}

.color-3 {
  width: 20px;
  background-color: #fdbb01;
}

.color-4 {
  width: 20px;
  background-color: #fff503;
}

.color-5 {
  width: 20px;
  background-color: #51c752;
}

.color-6 {
  width: 20px;
  background-color: #06bbf3;
  border-right: solid 5px #838a70;
}

aside {
  border-right: solid 1px #5b5b5b;
}

footer {
  border: solid 1px #5b5b5b;
  border-top: solid 2px #5b5b5b;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #fcfbfc, #dadcdb);
  border-radius: 0 0 10px 10px;
}

footer a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px #5b5b5b;
  letter-spacing: 5px;
  font-size: x-large;
  font-weight: 700;
  line-height: 3em;
}


@media (max-width: 576px) {
  .parent {
    display: flex;
    flex-direction: column;
  }

  .child-three {
    flex-grow: 1;
  }

  .child-two,
  .child-four,
  .child-five {
    order: 1;
  }
}