.App {
  text-align: center;
  width: 100vw;
  height: auto;
  color: #121212;

  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 75px;
  grid-template-areas:
    "nav"
    "main"
    "ft";
}

.App * {
  border: 1px solid red;
}
