.nav {
  grid-area: nav; 
  background-color: rgba(84, 59, 163, 0.5);
  color: #121212;
  display: flex;
  color: blue;
  justify-content: center;
  align-items: center;
  color:rgba(50, 35, 75, 0.5)
}